/* FONT 모음집
/* 두꺼운 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
/* font-family: "Alfa Slab One", serif;
font-weight: 400;
font-style: normal; */

/* 픽셀 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jersey+20&display=swap');
/* font-family: "Jersey 20", sans-serif;
font-weight: 400;
font-style: normal; */

/* i 다이아몬드 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jersey+20&family=Rowdies:wght@300;400;700&display=swap');
/* font-family: "Rowdies", sans-serif;
font-weight: 400;
font-style: normal; */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
/* font-family: "Rubik Mono One", monospace;
font-weight: 400;
font-style: normal; */

/*color 팔레트*/
:root {
  --color1 : black;
  --color2 : white;
  --color3 : #d7abc5;
  --color4 : #0ab4fc;
  --color5 : #00cdc0;
  --color6 : #80faa3;
  --color7 : #d4eae0;
  --color4-transparent: rgba(212, 234, 224, 0.3);
  --color2-transparent: rgba(255, 255, 255, 0.3);
}
.shooting-stars {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.star {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  animation: twinkling 2s infinite;
  z-index: 3;
}

@keyframes twinkling {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes shoot {
  0% {
      transform: translate3d(0, 0, 0) scale(0);
      opacity: 1;
  }
  70% {
      opacity: 1;
  }
  100% {
      transform: translate3d(100vw, -100vh, 0) scale(0.5);
      opacity: 0;
  }
}
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
  background-color: #111;
  background-image: linear-gradient(rgba(255,255,255,.07) 2px, transparent 2px),
  linear-gradient(90deg, rgba(255,255,255,.07) 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
