* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: rgb(110, 110, 110);
  background-image: linear-gradient(335deg, #000000 23px, transparent 23px),
    linear-gradient(155deg, #000000 23px, transparent 23px),
    linear-gradient(335deg, #000000 23px, transparent 23px),
    linear-gradient(155deg, #000000 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.police-tape--1 {
  background-color: #ffcd18;
  padding: 0.5em 5em 1.5em 1em;
  font-size: 3em;
  width: 120vw;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  z-index: 2; /* Police tape in front of blood stain */
  overflow: hidden; /* Hide overflowing text */
  top: 40%;
  left: -5%; /* Fixed position */
 /* Fixed position */
  transform: rotate(10deg); /* Fixed rotation */
}
.police-tape--2 {
  background-color: #ffcd18;
  padding: 0.5em 5em 1.5em 3em;
  width: 120vw;

  font-size: 3em;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  z-index: 2; /* Police tape in front of blood stain */
  overflow: hidden; /* Hide overflowing text */
  top: 40%;
  right: -5%;
/* Fixed position */
/* Fixed position */
  transform: rotate(-10deg); /* Fixed rotation */
}
.police-line {
  position: absolute;
  color: #000000; /* Red color for the text */
  animation: moveLeftRight 40s linear infinite; /* Animation properties */
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(-100%); /* Start position */
  }
  100% {
    transform: translateX(100%); /* End position */
  }
}
/* Keyframes for animation */
@keyframes moveLeftRight {
  0% {
    left: -100%; /* Start position */
  }
  100% {
    left: 100%; /* End position */
  }
}
.blood-stain2{
  opacity: 0.8;
  position: absolute;
  right: 60%;
}
.blood-stain2>img{
  width: 600px;
  height: 600px;
}
.blood-stain {
  position: absolute;
  top: 45%; /* Adjust the top value to place blood stain correctly */
  left: 20%; /* Adjust the left value to place blood stain correctly */
  width: 150px;
  height: 150px; /* Adjust the height to maintain aspect ratio */
  background: url('../img/bloodstain.png') no-repeat;
  background-size: contain;
  z-index: 1; /* Blood stain behind police tape */
  opacity: 0.8;
}
