* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


body {background-color: rgb(110, 110, 110);
	background-image: linear-gradient(335deg, #000000 23px, transparent 23px),
	linear-gradient(155deg, #000000 23px, transparent 23px),
	linear-gradient(335deg, #000000 23px, transparent 23px),
	linear-gradient(155deg, #000000 23px, transparent 23px);
	background-size: 58px 58px;background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px}

  .police-tape {
    background-color: #ffcd18;
    background: linear-gradient(180deg, lighten(#B79A2F, 20%) 0%, #B79A2F 5%, #B79A2F 90%, lighten(#B79A2F, 5%) 95%, darken(#B79A2F, 50%) 100%);
    padding: 0.125em;
    font-size: 3em;
    text-align: center;
    white-space: nowrap;
  }
  
  .police-tape--1 {
    transform: rotate(10deg);
    position: absolute;
    top: 40%;
    left: -5%;
    right: -5%;
    z-index: 2;
    margin-top: 0;
  }
  .police-tape--2 {
    transform: rotate(-8deg);
    position: absolute;
    top: 50%;
    left: -5%;
    right: -5%;
  }
  

